<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer ejercicio</title>
</head>
<body>
    <div id="app">
        <div v-if="confirmar">
            <button v-on:click="changeVisibility">Mostrar/Ocultar</button>
        <ul v-if="mostrar">
            <tv-show v-for="(show,index) in tvshows" :key="index" :name="show.name" :seassons="show.seassons"></tv-show>
            
        </ul>
        </div>
        <div v-else>
            No hay datos
        </div>
    
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script>
        Vue.component('tv-show', {
            props:{
                name: String,
                seassons: Number
            },
            template: 
            `<li>
            <strong>{{name}}</strong> ({{seassons}} Temporadas)   
            </li>`
        });
        const app = new Vue({
            el: '#app',
            data:{
                mostrar: true,
                confirmar: confirm("Deseas ver los datos?"),
                tvshows:[
                    {name: 'Game of Thrones', seassons:7},
                    {name: 'Breaking Bad', seassons:5},
                    {name: 'LOST', seassons: 6},
                    {name: 'Battlestar Galactica', seassons: 4}
                ]
            },
            methods:{
                changeVisibility: function(){
                    this.mostrar = !this.mostrar
                }
            }
        });
    </script>
</body>
</html>